body {
cursor:url("pointer.cur"), default;
font-family: "Roboto", sans-serif;
background-color: ecf0f1;
color: 2c3e50;
}
h2 {
border-left: 5px solid #7367F0;
padding-left: 16px;
color: ;
}
p {
margin-left: 10px;
}
