body {
	cursor:url(pointer.cur), default;

}
.box {
float: right;
width: 455px;
height: 690px;
background-color: transparent;
padding: 0px 21px;
size: 100%;
border-radius: 12px;
}
h2.me {
color: #7367F0;
font-family: Montserrat, Arial, Helvetica, serif;
align-items: center;
justify-content: center;
width: 270px;
height: 50px;
margin-left: 45px;
}
h2 {
  font-family: Montserrat, Arial, Helvetica, serif;
  color: #7367F0;
  margin-left: 50px;
  margin-top: 20px;
}
p {
	color: white;
	font-family: Montserrat, Arial, Helvetica, serif;
	font-size: 80%;
	margin-left: 45px;
  margin-top: 20px;
}
p.bix {
  margin-left: 130px;
  color: white;
  font-family: Montserrat, Arial, Helvetica, serif;
  margin-top: 40px;
}
label {
	color: white;
	font-family: Montserrat, Arial, Helvetica, serif;
	font-size: 80%;
}
input[type="password"] {
color: white;
background-color: transparent;
border-color: white;
border-radius: 6px;
font-family: Arial, Helvetica, sans-serif;
width: 375px;
height: 30px;
margin-top: none;
margin-left: 45px;
margin-top: 10px;
}
input[type="text"] {
color: white;
background-color: transparent;
border-radius: 6px;
border-color: white ;
font-family: Arial, Helvetica, sans-serif;
width: 375px;
height: 30px;
margin-left: 45px;
margin-top: 0px;
}
input[type="submit"] {
    background-color: #7367F0;
    font-family: Montserrat, Arial, Helvetica, serif;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    width: 375px;
    height: 40px;
    padding: 0px 100px;
    float: center ;
    margin-left: 50px; 
    margin-top: 30px;
    cursor:url(link.cur), pointer;
}
.SignUp {
    backgr
}
	

.sum:hover {
 	box-shadow: 0px 0px 10px 0px #7367F0;
}
